article{
  display: flex;
}

body {
  margin: 0;
}

/* .allcheck {
  margin: 0 0 0 50px;
} */

.area {
  border-radius: 20px 0px 0px 0px; /* 左上・右上・右下・左下 */
  margin: 0 0 0 15px;
  font-size: 1.5em;
  font-family: 'Oswald', sans-serif;
}

.bg {
  background-image: url('https://images.ctfassets.net/s5n2t79q9icq/6dEUS6x1T4VD85vE6ltEfz/8fb899af1d42504cda6535db164a56e3/E8kKpHKnpV_1023x700.jpg');
  background-size: cover;
  /* position: relative; */
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  /* height: max(100%, 100vh); */
  /* height: calc(var(--vh, 1vh) * 100); */
  /* おまじない */
  backdrop-filter: blur(0);
  z-index: 0;
}

.bg::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  /* ↓全体を覆うように配置 */
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
}

.cards{
  all: initial;
  padding: 5px 20px 10px 20px;
  /* -khtml-user-drag: element; */
  display: flex;
  flex-wrap: wrap;
  flex: auto;
}

.conditions{
  display: flex;
  /* flex-wrap: wrap; */
}

.contents{
  /* to keep tier area window size */
  width: 100%;
  margin: 50px 0 20px 0;
}

.headmenu{
  position: fixed;
  z-index: 999;
  display: flex;
  /* background-color: rgba(40,40,40,1); */
}

.btn_pagename{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  color: white;
  margin: 0 3px;
  padding: 0 3px;
  height: 50px;
  line-height: 50px;
  background-color: rgba(40,40,40,0.3);
}
.btn_pagename.active{
  background-color: rgba(40,40,40,1);
}

.tabarea.active{
  display: flex;
}
.tabarea{
  display: none;
}


.tiertext{
  text-align: right;
  margin: 20px 1em 0 0;
}

.variations{
  display: none;
}

/* side_menu */
.side_menu{
  font-family: 'Roboto', sans-serif;
  background-color: rgba(30,30,30,0.9);
  color: white;
  white-space: nowrap;
  position: fixed;
  padding: 50px 0 0 0;
  z-index: 99;
  /* start position of navi */
  /* top: 0; */
  left: -120%;
  /* right: 100%; */
  /* left: auto; */
  /* movement */
  transition: all 0.6s;
}

.side_menu.panelactive{
  left:0;
}

.btn_menu{
  background-color: gray;
  font-family: 'Roboto', sans-serif;
  color: white;
  /* position: fixed; */
  /* top: 10px; */
  cursor: pointer;
  width: 50px;
  height: 50px;
}

/*×に変化*/
.btn_menu span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 15px;
    height: 3px;
    /* border-radius: 2px; */
    background-color: #666;
    width: 20px;
  }

.btn_menu span:nth-of-type(1) {
  top:15px;
}

.btn_menu span:nth-of-type(2) {
  top:23px;
}

.btn_menu span:nth-of-type(3) {
  top:31px;
}

.btn_menu.active span:nth-of-type(1) {
    top: 30px;
    left: 16px;
    transform: translateY(-6px) rotate(45deg);
    width: 18px;
}

.btn_menu.active span:nth-of-type(2) {
  opacity: 0;
}

.btn_menu.active span:nth-of-type(3){
    top: 18px;
    left: 16px;
    transform: translateY(6px) rotate(-45deg);
    width: 18px;
}
