article{
  display: flex;
}


.area {
  border-radius: 20px 0px 0px 0px; /* 左上・右上・右下・左下 */
}

.cards{
  padding: 20px 25px;
  /* margin: 50px 30px 20px 50px; */
  -khtml-user-drag: element;

  display: flex;
  flex-wrap: wrap;
  flex: auto;
}

.conditions{
  display: flex;
}

#wrapper{
  /* position: relative; */
}

.side{
  background-color: brown;
  color: white;
  position:absolute;
  white-space: nowrap;
  /* position: -webkit-sticky;
  position: sticky; */
  /* position: fixed; */

  /* transform: translateX(-50%) translateY(-50%); */
}

.tiertext{
  text-align: right;
}
